<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User History - Lego Collection</title>
    <link rel="stylesheet" href="/css/main.css"/>
</head>
<body>
    <%- include('partials/navbar', {page: '/userHistory'}) %>
    
    <section class="shadow-lg bg-primary-gray-custom text-black mx-auto rounded-lg flex flex-col items-center justify-center" style="background-image: url('/media/Lego\ hero.jpg'); background-size: 100%; background-repeat: no-repeat; background-position: right 80%; max-width: 90%; width: 80%; height: 400px; margin-bottom: 20px; margin-top: 20px;">
        <div class="grid max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-0 lg:py-16 lg:grid-cols-12">
            <div class="mr-auto place-content-start lg:col-span-3">
                <h1 class="max-w-2xl mb-4 text-4xl font-extrabold tracking-tight leading-none md:text-5xl xl:text-6xl dark:text-white">User History</h1>
            </div>                         
        </div>
    </section>

    <div class="container mx-auto p-4 text-center">
        <div class="rounded shadow-lg bg-white py-3 mb-8 inline-block">
            <h2 class="text-2xl font-bold">Welcome, <%= session.user.userName %>!</h2>
            <p class="py-2">Email: <%= session.user.email %></p>
            <div class="overflow-x-auto">
                <table class="table w-full">
                    <!-- Table head -->
                    <thead>
                        <tr>
                            <th>Login Date/Time</th>
                            <th>Client Information</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!-- Table body -->
                        <% session.user.loginHistory.forEach(function(history) { %>
                            <tr>
                                <td><%= new Date(history.dateTime).toLocaleString() %></td>
                                <td><%= history.userAgent %></td>
                            </tr>
                        <% }); %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

<script src="/ThemeChanger.js">  </script>
<script>
      // Just to keep the theme state across pages
      document.addEventListener('DOMContentLoaded', () => {
    const themeToggle = document.getElementById('theme-toggle');
    const currentTheme = localStorage.getItem('theme') ? localStorage.getItem('theme') : null;
    
    if (currentTheme) {
      document.documentElement.setAttribute('data-theme', currentTheme);
    
      if (currentTheme === 'dark') {
          themeToggle.checked = true;
      }
    }
    
    themeToggle.addEventListener('change', function() {
      if (this.checked) {
          document.documentElement.setAttribute('data-theme', 'dark');
          localStorage.setItem('theme', 'dark');
      } else {
          document.documentElement.setAttribute('data-theme', 'light');
          localStorage.setItem('theme', 'light');
      }
    });
    });
    </script>
    </script>